.btn-agregar {
    background-color: #E1B8E2;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 100px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-agregar-contenedor {
    display: flex;
    width: 100%;
    justify-content: right;
    margin-bottom: 20px;
}

.btn-agregar:hover {
    background-color: #ececec;
}

.btn-agregar:hover {
    color: #000000;
}

.btn-agregar:hover {
    color: #000000;
}

    